@font-face
  font-family: Oswald
  src: url(../fonts/Oswald-Regular.ttf)

@font-face
  font-family: OswaldBold
  src: url(../fonts/Oswald-Bold.ttf)

@font-face
  font-family: OswaldLight
  src: url(../fonts/Oswald-Light.ttf)

@font-face
  font-family: OswaldExtraLight
  src: url(../fonts/Oswald-ExtraLight.ttf)

@font-face
  font-family: Raleway
  src: url(../fonts/Raleway-Regular.ttf)

@font-face
  font-family: RalewayBold
  src: url(../fonts/Raleway-Bold.ttf)

@font-face
  font-family: RalewayLight
  src: url(../fonts/Raleway-Light.ttf)

@font-face
  font-family: RalewayExtraLight
  src: url(../fonts/Raleway-ExtraLight.ttf)

$mainFont: Oswald
$mainFontBold: OswaldBold
$mainFontLight: OswaldLight
$mainFontExtraLight: OswaldExtraLight

$secondaryFont: Raleway
$secondaryFontBold: RalewayBold
$secondaryFontLight: RalewayLight
$secondaryFontExtraLight: RalewayExtraLight

$whiteColor: white
$greenColor: #4c9601
$grayColor: #eeeeee
$blackColor: black

header
  background-image: url(../img/slide1.jpg)
  background-size: cover
  background-position: center center
  .uk-slideshow
    li
      width: 100%
      height: 100vh
      background: rgba($blackColor,.3)
      h2
        font-family: $mainFontLight
        color: $whiteColor
        font-size: 8em
        line-height: 40px
        font-weight: 100
        margin-bottom: 20px
        text-shadow: 1px 1px 3px $greenColor
        @media (max-width: 768px)
          font-size: 5em
      p
        font-family: $mainFont
        color: $whiteColor
        font-size: 2.2em
        font-weight: normal
        line-height: 40px
        text-shadow: 1px 1px 3px $greenColor
        @media (max-width: 768px)
          font-size: 1.6em

      a.question-link
        display: block
        font-family: $mainFontLight
        color: $whiteColor
        padding: 10px 15px
        font-size: 2em
        position: absolute
        bottom: 5%
        @media(max-width: 768px)
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          height: 50px
          bottom: 0
          background: rgba($blackColor,.4)
        &:after
          content: ' '
          width: 0 !important
          height: 2px
          position: absolute
          background-color: $whiteColor
          bottom: 10%
          left: 0
          transition: all 0.5s
        &:hover
          text-decoration: none !important
          &:after
            width: 100% !important


  .uk-slidenav-previous
    left: 0 !important
  .uk-slidenav-next
    right: 0 !important

  .uk-slidenav-previous,
  .uk-slidenav-next
    @media (max-width: 768px)
      display: none !important
    color: $whiteColor
    transition: all 0.3s !important
    &:hover
      background: rgba($greenColor,0.8),

main
  .desktop-menu
    border-bottom: 1px solid $grayColor
    margin-bottom: 10px
    .uk-navbar
      background: $whiteColor !important
      padding: 10px 0
    .uk-navbar-nav
      li
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          right: 0
          height: 0
          width: 100%
          background: $greenColor
          transition: all 0.3s
        &:hover
          background: transparent !important
          &:after
            height: 3px
        a
          background: transparent !important
          height: 100% !important
          font-family: $mainFont
          font-size: 1.3em
  .main-content
    margin-top: 60px
    .main-content__title
      font-family: $mainFontExtraLight
      font-size: 3.5em
      line-height: 40px
    .main-content__article
      font-family: $secondaryFont
      font-size: 1.1em
      line-height: 20px
      max-width: 450px
      margin: 40px auto

  .main-custom
    @media (max-width: 768px)
      .uk-width-small-1-1:first-child
        order: 1
      .uk-width-small-1-1:last-child
        order: 2
      .uk-text-center
        order: 3
    .item-custom
      border: 1px solid rgba($greenColor,0.3)
      padding: 15px 10px
      margin-bottom: 15px
      transition: all .3s
      &:hover
        background: $greenColor
        h4,i,article
          color: $whiteColor
      h4
        @media (max-width: 1024px)
          text-align: center !important
        font-family: $mainFont
        font-size: 1.4em
        text-transform: uppercase
        i
          color: $greenColor
      article
        @media (max-width: 1024px)
          text-align: center !important
        font-family: $secondaryFont
        font-size: 1em
  .main-last-project
    background: url(../img/main-parallax.png)
    background-repeat: no-repeat
    background-size: cover
    .main-last-project__background
      background: rgba($blackColor,0.6)
      padding: 60px 0
    h3
      font-family: $mainFont
      font-size: 2.5em
      color: $whiteColor
      line-height: 40px
      text-transform: uppercase
      margin-bottom: 20px !important
    article
      font-family: $secondaryFont
      font-size: 1.4em
      color: $whiteColor
      max-width: 460px
      line-height: 25px
      margin: 20px auto !important
      text-shadow: 1px 1px 2px $blackColor
    input[type='text']
      box-sizing: border-box
      background: rgba($blackColor,0.5)
      border: 1px solid $whiteColor
      width: 100%
      padding: 5px
      font-size: 1.5em
      font-family: $mainFont
      border-radius: 3px
      color: $whiteColor
    input[type='submit']
      max-width: 354px
      width: 100%
      margin: 0 auto
      display: block
      box-sizing: border-box
      background: $greenColor
      border: 1px solid $whiteColor
      font-size: 1.5em
      font-family: $mainFont
      border-radius: 3px
      color: $whiteColor
      padding: 5px
    input
      @media (max-width: 768px)
        margin-bottom: 15px !important

  .main-portfolio
    padding: 40px 0
    h3
      font-family: $mainFontExtraLight
      font-size: 3.5em
      line-height: 50px
      margin-bottom: 40px
      text-transform: uppercase
    .uk-slider-container
      li
        box-sizing: border-box
        background-image: url(../img/portfolio-slider.jpg)
        background-position: center center
        background-size: cover
        overflow: hidden
        height: 500px !important
        @media (max-width: 768px)
          height: 350px
        &:hover
          .main-portfolio__overlay
            top: 0
            background: rgba($blackColor,0.6)
        .main-portfolio__overlay
          padding: 10px
          box-sizing: border-box
          position: absolute
          overflow: hidden
          width: 100%
          top: 100%
          bottom: 0
          transition: all .5s
          display: flex
          justify-content: center
          align-items: center
          flex-flow: column
          @media (max-width: 768px)
            top: 0
            background: rgba($blackColor,0.3)
          h4
            font-family: $mainFont
            color: $whiteColor
            font-size: 3em
            line-height: 1em
            margin-bottom: 30px
          article
            font-family: $secondaryFont
            color: $whiteColor
            text-align: center
            font-size: 1.5em


  .main-clients
    h3
      font-family: $mainFontExtraLight
      font-size: 3.5em
      text-transform: uppercase
      line-height: 1.5em
    article
      font-family: $secondaryFont
      font-size: 1.2em
      text-align: center
      width: 100%
      max-width: 560px
      margin: 0 auto 20px
    .main-clients__slider
      h5
        font-family: $mainFont
        font-size: 1.8em
        margin-top: 5px !important
      p
        font-family: $mainFontBold
        margin: 5px 0 0 0
        color: rgba($blackColor, .7)
      article
        box-sizing: border-box
        padding: 5px 10px
        font-size: 1.1em
      a.uk-slidenav-next,
      a.uk-slidenav-previous
        color: rgba($blackColor,.7)

  .main-our-preferences
    background-image: url(../img/office.jpg)
    .main-our-preferences__background
      background: rgba($blackColor,.4)
      padding: 5% 0
      .main-our-preferences-item
        padding: 20px 0
        height: 100%
        display: flex
        flex-flow: column
        justify-content: space-around
        border-radius: 10px
        box-sizing: border-box !important
        position: relative
        @media (max-width: 768px)
          height: auto
          &:last-child
            margin-top: 30px
        h5
          font-family: $mainFont
          text-align: center
          font-size: 2em
          box-sizing: border-box !important
          line-height: 30px
          @media(max-width: 768px)
            font-size: 1.8em !important
            padding: 0 10px
        ul
          list-style-type: decimal
          padding-right: 30px
          box-sizing: border-box !important
          li
            font-family: $secondaryFont
            font-size: 1.6em
            margin-bottom: 10px
            line-height: 20px
        &.white-background
          background: rgba($whiteColor,.6)
          h5
            color: $blackColor
          ul
            li
              color: $blackColor
        &.black-background
          background: rgba($blackColor,.6)
          h5
            color: $whiteColor
          ul
            li
              color: $whiteColor
